
body {
    background-color: bisque;
}



.homepage {
    text-align: center;
    background-color: bisque;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}


