
body {
    background-color: bisque;
}

.card-container {
    display:flex;
    align-items:space-between;
    padding: 50px;
    justify-content:space-between;
    flex-wrap:wrap;
}



.homepage {
    text-align: center;
    background-color: bisque;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}


img {
    width: auto;
    max-width: 250px;
    height: auto;
    max-height: 250px;
    /* vertical-align: middle; */
    /* align-items: center; */
  }


.pet-card {
    
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    background:white;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e09a4b;
    border-radius: 4px
}




#loadButton{
    color: rgb(0, 0, 0);
    display: flex;
    left: 50%;
    transform: translate(450%);
    font-size: 16px;
    padding: 15px 32px;
    box-shadow: 3px 4px #e09a4b;
}

/* #button-div{
    left: 50%;
    position: relative;
    top: 10%;
    /* left: 50%; */

.filterBox{
    display: flex;
    width: 200px;
    padding: 20px;
    position: relative;
}


.add-toy-form {
    width: 80%;
    background-color: bisque;
    border: #e04b52;
  }
  
  .submit {
    position: relative;
    background-color: #e04b52;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
  }
  
  .submit:hover {
    background-color: whitesmoke;
    border: #e04b52 solid 1px;
    color: #e04b52;
  }
  
  .input-text {
    border-radius: 5px;
    height: 1.5rem;
    width: 40%;
    font-size: 14px;
    font-family: monospace;
    margin: 3px;
  }